@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  list-style: none;
  font-family: 'Roboto', sans-serif;
  background: darkcyan;
}

.main-content {
  width: 70%;
  margin: auto;
  margin-top: 10%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: darkcyan;
  box-shadow: 13px 9px 42px 10px;
  border-radius: 8px;
  padding: 10px;
}

h1 {
  color: #000;
  text-align: center;
  position: relative;
  left: -160px;
  font-size: 40px;
  padding-left: -52px;
  font-family: 'Roboto', sans-serif;
}

.content {
  display: flex;
  flex-direction: column;
  margin: auto;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 25px;
  position: relative;
}

.column1 {
  display: flex;
  justify-content: space-evenly;
  width: inherit;
  padding: 11px;
}

h2 {
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.column2 {
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.first-line {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.scores {
  list-style: none;
  text-transform: capitalize;
}

.display-section {
  border: 1px solid black;
  width: inherit;
  margin-top: 22px;
}

.display-column2 {
  width: 50%;
}

.score-item {
  padding: 2px;
  padding: 5px;
  color: #eee;
  font-weight: 600;
  font-family: 'Roboto', sans-serif;
}

.refresh-btn {
  padding: 4px;
  border: 0;
  box-shadow: 4px 4px 4px 4px;
  background: bottom;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
}

.recent-score-list ul li:nth-child(even) {
  background: linear-gradient(45deg, black, transparent);
  border-radius: 8px;
}

h3 {
  font-size: 28px;
  color: #000;
  font-family: 'Roboto', sans-serif;
}

.adding-data {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 48px;
  width: 33%;
  margin-top: inherit;
}

.input-boxes {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}

input {
  padding: 2px;
  width: 100%;
  height: auto;
  outline: none;
  border-radius: 10px;
  background: linear-gradient(45deg, black, transparent);
  color: #fff;
  height: 33px;
  font-size: 16px;
}

::placeholder {
  color: #fff;
  font-weight: 500;
  font-style: italic;
  font-family: 'Roboto', sans-serif;
}

#submit-btn {
  padding: 4px;
  border: 0;
  box-shadow: 4px 4px 4px 4px;
  background: bottom;
  border-radius: 5px;
  font-family: 'Roboto', sans-serif;
  align-self: flex-end;
}
